:root {
	--bg_dark: #212529;
	--bg_light: #f8f9fa;
}

@media screen and (max-width: 600px) {
	#carouselExampleControls {
		width: 100%;
	}
}

body {
	background-color: #f8f9fa;
	display: flex;
	min-height: 100vh;
	flex-direction: column;

	overflow-x: hidden;
	/*should probably delete this above ^^*/
}
.main{
	flex: 1;
	/*margin-top: 7vh;*/
	padding: 1%;
	background-color: #f8f9fa
}
.topnav {
	position: sticky;
	top: 0;
	width: 100vw;
	color: white;
	display: flex;
	align-content: center;
	background-color: #212529;
	filter: drop-shadow(0 0 5px #333);
	text-transform: uppercase;
	/*letter-spacing: 5px;*/
	z-index: 2;
}

.topnav a{
	/*color: white;
	padding: 1%;
	text-transform: uppercase;
	transition: 0.7s ease;*/
}
.topnav a:hover {
/*	color: white;
	padding: 1%;
	text-transform: uppercase;
	background-color: #f8f9fa2f;*/
}
.topnav .icon {
  display: none;
}
.footer {
	width: 100vw;
	background-color: var(--bg_dark);
	color: white;
}
.videos {
	padding-top: 2%;
}
h1 {
	text-transform: uppercase; letter-spacing: 5px;
}
#video-header, #photo-header{
	font-size: 8vw;
	text-align: center;
	color: var(--bg_dark);
	/*background-color: var(--bg_dark);*/
	padding: 0;
}

/*for the slideshow*/
#video-main {
	flex: 1;
	display: flex;
	padding: 0;
	background-color: black;
}
#carouselExampleControls {
	min-width: 70%;
	/*height: 100vh;*/
	display: flex;
	justify-content: center;
	/*align-content: center;*/
	margin: auto;
}
.carousel-control-prev, .carousel-control-next{
	width: 5vw;
  height: 5vw;
  margin: auto;
}
/*end slideshow styling*/

/*styling for photos page*/
#photo-main .row{
}
#photo-main img{
	height: 50vw;
	object-fit: cover;
	padding: 10%;
	display: block;
	transition: 0.5s;
}
#photo-main img:hover {
	filter: drop-shadow(0 10px 5px #3332);
	transform: scale(1.03);
}
@media (max-width: 576px) {
	#photo-main img {
		height: 100vw;
	}
}
@media (min-width: 992px){
	#photo-main img{
		height: 35vw;
	}	
}
#gallery-item {
	/*padding:0% 1% 5%;*/
}
/*end styling for photos page*/

/*start styling for media menu thumbnails*/
.mediaThumbnail {
	filter: brightness(100%);
	opacity: 1;
	/*filter: sepia(1);*/
	position: relative;
}
.mediaThumbnail:hover {
	filter: brightness(100%);
	/*filter: sepia(0);*/
}
.overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	height: 100%;
	width: 100%;
	opacity: 0.9;
	transition: 1.1s ease;
	display: flex;
	justify-content: center;
	margin: auto;
}
.overlay.videos{
	background-color: #212529;	
}
.overlay.photos{
	background-color: #f8f9fa;
}
.overlay.photos div{
	color: black;
}
.overlay:hover {
	opacity: 0;
}
.text {
	margin: auto;
  	text-align: center;
  	line-height: 100%;
  	color: white;
  	font-size: 8vw;
  	letter-spacing: 20px;
  	text-transform: uppercase;
}
/*end styling for media*/