:root {
	--bg_dark: #212529;
	--bg_light: #f8f9fa;
}

@media screen and (max-width: 600px) {
	#carouselExampleControls {
		width: 100%;
	}
	body {
		/*min-height: 50vh;*/
	}
}

body {
	background-color: #f8f9fa;
	display: flex;
	min-height: 100vh;
	flex-direction: column;

	/*overflow-x: hidden;*/
	/*should probably delete this above ^^*/
}
h1 {
	text-transform: uppercase; letter-spacing: 1px;
}
h6	{
	color: #212529af ;
	text-transform: uppercase;
	/*font-weight: bold;*/
}
a:link { text-decoration: none; }
a:visited { text-decoration: none;}
a:hover { text-decoration: none;}
a:active { text-decoration: none;}
.main{
	flex: 1;
	/*margin-top: 7vh;*/
	/*padding: 1%;*/
	background-color: #f8f9fa
}
.main-dark {
	background-color: var(--bg_dark);
}
.topnav {
	position: sticky;
	top: 0;
	/*width: 100vw;*/
	color: white;
	display: flex;
	align-content: center;
	background-color: #212529;
	filter: drop-shadow(0 0 5px #333);
	text-transform: uppercase;
	/*letter-spacing: 5px;*/
	z-index: 2;
}

.topnav a{
	/*color: white;
	padding: 1%;
	text-transform: uppercase;
	transition: 0.7s ease;*/
}
.topnav .icon {
  display: none;
}
.footer{
	display: flex;
	justify-content: left;
	background-color: var(--bg_light);
	color: var(--bg_dark);
}
.footer.dark {
	background-color: var(--bg_dark);
	color: var(--bg_light);
}
.footer div {
	opacity: 75%;
}
.videos {
	padding-top: 2%;
}
#video-header, #photo-header{
	font-size: 8vw;
	text-align: center;
	color: var(--bg_dark);
	/*background-color: var(--bg_dark);*/
	padding: 0;
}





/* HOME PAGE STYLING */
.main-index {
}
pre {
	background-color: #212529f0;
	border-radius: 0.375rem;
	display: flex;
}
pre code {
	display: block;
	color: white;
	padding: 2% 3%;
}
.code-heading {
	color: cyan;
}
.code-heading-2{
	color: yellow;
}
/*https://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_collapsible_symbol*/
.updateButton {
	display: flex;
	justify-content: left;
}
#updateButton {
	/*background-color: green;*/
	/*border-radius: 0px;*/
	/*margin-bottom: 0;*/
	text-align: left;
	border: none;
	filter: drop-shadow(0 0 5px #3333);
}
#updateButton:after {
	content: '\002B';
  /*color: white;*/
  font-weight: bold;
  float: right;
  margin-left: 5px;
}
#updateButton:hover {
	color: black;
	background-color: whitesmoke;
}
.social-buttons a{
	color: var(--bg_dark);
	padding: 0% 2px;
}
.social-buttons.dark a{
	color: var(--bg_light);
}
.social-buttons i {
	opacity: 100%;
	/*padding: 100%;*/
}
.social-buttons i:hover {
	opacity: 50%;
	transition: 0.3s;
}
.home-menu div {
	transition: 0.3s;
	position: relative;
}

.home-menu div:hover {
	transform: scale(1.01);
}
.home-menu h1 {
	/*margin-top: 10px;*/
	transition: 0.3s;
}
.home-menu div:hover h1 {
	margin-left: 10px;
	/*color: black;*/
}
/*END HOME PAGE STYLING*/

/*PROJECT PAGE*/
.img-zoom img{
	transition: 0.3s;
}
.img-zoom:hover img{
	transform: scale(1.1);
}

/*MEDIA PAGE*/
.mediaThumbnail {
	filter: brightness(100%);
	opacity: 1;
	/*filter: sepia(1);*/
	position: relative;
}
.mediaThumbnail img {
	width: 100%; 
	height: 100%; 
	object-fit: cover;
}
.mediaThumbnail:hover {
	filter: brightness(100%);
	/*filter: sepia(0);*/
}
.overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	height: 100%;
	width: 100%;
	opacity: 0.9;
	transition: 1.1s ease;
	display: flex;
	justify-content: center;
	margin: auto;
}
.overlay.videos{
	background-color: #212529;	
}
.overlay.photos{
	background-color: #f8f9fa;
}
.overlay.photos div{
	color: black;
}
.overlay:hover {
	opacity: 0;
}
.text {
	margin: auto;
  	text-align: center;
  	line-height: 100%;
  	color: white;
  	font-size: 8vw;
  	letter-spacing: 20px;
  	text-transform: uppercase;
}
/*END MEDIA PAGE*/

/*VIDEOS PAGE*/
.video-card h1 {
	color: #f8f9facf;
	font-weight: 400;
	font-size: 200%;
}
.video-card h2 {
	font-size: 0.75rem;
	color: #f8f9fa9f
}
.video-card div {
	transition: 0.3s;
	opacity: 0;
}
.video-card:hover div {
	margin-bottom: 10px;
	opacity: 1;
}
.video-card::before{
	transition: 0.3s;
}
.video-card:hover::before{
	opacity: 1;
}
#video-main {
	flex: 1;
	display: flex;
	padding: 0;
	background-color: var(--bg_dark);
}
#carouselExampleControls {
	min-width: 70%;
	/*height: 100vh;*/
	display: flex;
	justify-content: center;
	/*align-content: center;*/
	margin: auto;
}
.carousel-control-prev, .carousel-control-next{
	width: 5vw;
  height: 5vw;
  margin: auto;
}
.video-card {
	background-color: var(--bg_dark);
	color: var(--bg_light);
}
.video-card::before {
	content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(350deg, #020202, transparent 100%);
  opacity: 0.5;
  margin: 1rem;
  border-radius: 10px;
}
.pink::before {
	background-image: linear-gradient(-80deg, rgba(189, 21, 11, 0.05), transparent 50%);
}
/*END VIDEOS PAGE*/

/*PHOTOS PAGE*/
#photo-main .row{
}
#photo-main img{
	height: 50vw;
	object-fit: cover;
	/*padding: 10%;*/
	display: block;
	border-radius: 70px;
	transition: 0.5s;
}
#photo-main img:hover {
	/*filter: drop-shadow(0 10px 5px #3332);*/
	/*transform: scale(1.03);*/
	border-radius: 0px;
}
@media (max-width: 576px) {
	#photo-main img {
		height: 100vw;
		transform: scale(0.9);
		box-sizing: border-box;
	}
}
@media (min-width: 992px){
	#photo-main img{
		height: 35vw;
	}	
}
#gallery-item {
	padding: 2% 2%;
}
/*end styling for photos page*/