body {
	background-color: #f8f9fa;
}
.main{
	margin-top: 7vh;
	padding: 1%;
	background-color: #f8f9fa
}
.topnav {
	position: fixed;
	top: 0;
	width: 100vw;
	color: white;
	/*padding-bottom: 1%;*/
	display: flex;
	align-content: center;
	background-color: #212529;
	filter: drop-shadow(0 0 5px #333);
	letter-spacing: 5px;
	/*box-shadow: 0 0 30px #333;*/

}
.topnav a{
	color: white;
	padding: 1%;
	text-transform: uppercase;
}
.topnav a:hover {
	color: white;
	padding: 1%;
	text-transform: uppercase;
	background-color: #f8f9fa2f;
}
.videos {
	padding-top: 2%;
}
h1 {
	text-transform: uppercase; letter-spacing: 5px;
}
#video-header {
	font-size: 10vw;
	text-align: center;
}

/*for the slideshow*/
#carouselExampleControls {
	width: 75%;
	display: flex;
	justify-content: center;
	margin: auto;
}
.carousel-control-prev, .carousel-control-next{
	width: 5vw;
  	height: 5vw;
  	margin: auto;
}
/*end slideshow styling*/
/*start styling for media menu thumbnails*/
.mediaThumbnail:hover {
	
}
.overlay {
	/*position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	height: 100%;
	width: 100%;
	opacity: 0.1;
	transition: .5s ease;
*/}